html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #229BF2;
}

.container {
	top: 0;
	left: 6%;
	bottom: 100%;
	position: absolute;
	height: 100%;
}

.process-column {
	overflow-y: scroll;
	height: 100%;
}

.processes {
	height: 95%;
}

.process {
	border-radius: 10px;
	margin-right: 5px;
	background-color: #8DCBF7;
	padding: 3px;
}

.template {
	display: none;
}

.process .io {
	display: none;
}

.process .terminate {
	display: none;
}

#waiting .process .io {
	display: block;
	font-weight: bold;
}

#running .process .terminate {
	display: block;
}

.custom_modal {
	width: 200px;
	margin-left: -100px;	
}

.custom_modal .help-block {
	display: none;
}

.process {
	margin-bottom: 3px;
}